
.logfuter{
	text-align: center;
	margin-top: 15%;
}
.dih{
	border: 3px double #FACC2E;
	width: 400px;
	height: 280px;

	margin-left: 450px;
}
.logfuter h3{
	font-family: 'Exo', sans-serif;
}
.logfuter img{
	width: 40%;
	
}
.logfuter input{
	border: none;
	background-color: #424242;
	text-align: center;
	color: #fff;
	padding: 7px;
}
.logfuter a{
	color: #FACC2E;
	top: 25px;
	font-size: 20px;
}
.logfuter button{
	background-color: #FACC2E;
	border: none;
	padding: 6px;
	font-family: 'Exo', sans-serif;
}
